<div class="flex flex-col items-center mt-12">
  <div class="rounded-full bg-white">
    <div class="p-2">
      <img
        class="rounded-full m-a"
        src="https://via.placeholder.com/150"
        alt=""
      />
    </div>
  </div>
  <div id="profile-text-container">
    <div id="name">
      <p class="text-center text-3xl font-bold">Thibaut Bollen</p>
    </div>
    <div>
      <p>company: <span>IT Factory</span></p>
      <p>function: <span>Student</span></p>
      <p>thibaut.bollen@test.com</p>
      <p>@ThibautBollen</p>
    </div>
  </div>
</div>
